.card {
  background-color: #dff251ee;
  border-radius: 3em;
  height: 460px;
  margin: 1em;
  overflow: hidden;
  width: 290px;
}

.card:hover {
  transform: scale(1.1);
  background-color: #f88070;
  transition: transform 1s;
  transition: background-color 2s;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Crea cuatro columnas de igual tamaño */
  grid-gap: 20px; /* Espacio entre las tarjetas */
}

img {
  width: 120%;
}

.card-diets-label {
  font-weight: 600;
}
