.paginado {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rebeccapurple;
  font-size: 20px; /* Aumenta el tamaño de fuente para los números */
  font-family: Arial, sans-serif;
}

.paginado .number {
  margin: 0 5px;
}

.paginado .number button:hover {
  color: salmon;
}

.paginado .arrow-button {
  cursor: pointer;
  font-size: 20px; /* Aumenta el tamaño de fuente para las flechas */
}

.paginado .arrow-button button:hover {
  color: salmon;
}
